<style>
.header1 {
  position: fixed;
  border
  
}
  
.nav1 {
  position: fixed;
  background-color: blue;
  color: black;
  dispaly: inline;
  }

.section1 {
  background-color: lightblue;
  color: black;
  
}

.aside1 {
  background-color: lightblue;
}

#footer1 {
  background-color: darkblue;
  color: black;
  
  


</style>
